@import '../../main/variables.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  transition: 0.4s;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.14);
}
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0px 1.5rem;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
  color: $title-color;
  text-transform: capitalize;
  font-weight: $font-bold;
  font-size: $h3-font-size;
  // > svg {
  //   width: 20px;
  // }
}
@media screen and (max-width: 770px) {
  .nav__menu {
    position: fixed;
    left: 0px;
    bottom: 0px;
    background-color: $body-color;
    box-shadow: 0px -1px 12px hsla(0, 1%, 15%, 0.327);
    width: 100%;
    height: 4rem;
    padding: 0px 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: 0.4s;
  }
}
.nav__list,
.nav__link {
  display: flex;
}
.nav__list {
  justify-content: space-around;
}
.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 0.25rem;
  color: $title-color;
  font-weight: 600;
  transition: 0.4s;
  &:hover {
    color: $first-color;
  }
}
.nav__icon {
  font-size: 1.5rem;
  font-weight: 600;
}
.nav__name {
  font-size: $smaller-font-size;
}

.nav__img {
  width: 32px;
  > img {
    border-radius: 0.2rem;
  }
}
.profile {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.icon {
  font-size: $normal-font-size;
}
.activeLink {
  position: relative;
  color: $first-color;
  transition: 0.4s;
  &::before {
    content: '';
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    bottom: -9px;
    background-color: $first-color;
  }
}

.navigation {
  width: 64px;
  height: max-content;
  display: flex;
  transition: height 0.5s, width 0.5s;
  transition-delay: 0s, 0.75s;
  flex-direction: column;
}
.user {
  position: relative;
  height: 64px;
  width: 64px;
  background-color: #fff;
  cursor: pointer;
  > div {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
    border: 10px solid #fff;
    border-radius: 50%;
    overflow: hidden;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}
.modal {
  z-index: $z-modal;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  width: max-content;
  padding: 1rem;
  border-radius: 0.5rem;
  left: -115px;
  transition: 0.2s;
  top: 6rem;
  box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.14);
  background: #fff;
  h3 {
    font-size: $normal-font-size;
    color: $gray-color-text;
    font-weight: 500;
  }
  ul {
    margin-top: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5rem;
    a,
    li {
      display: flex;
      align-items: center;
      gap: 0.4rem;
      color: #333;
      > i {
        font-size: 1.2rem;
      }
      &:hover {
        color: $first-color;
        cursor: pointer;
      }
    }
  }
  span {
    top: -6px;
    right: 10px;
    position: absolute;
    display: block;
    width: 25px;
    height: 25px;
    transform: rotateZ(50deg);
    background: #fff;

    z-index: -1;
  }
}

.active {
  .modal {
    top: 5rem;

    opacity: 1;
    visibility: visible;
  }
}
@media screen and (min-width: 580px) {
  .nav__list {
    justify-content: center;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 770px) {
  .nav {
    height: calc($header-height + 1rem);
  }
  .nav__icon {
    display: none;
  }
  .nav__name {
    font-size: $normal-font-size;
  }
}
@media screen and (max-width: 360px) {
  .nav__name {
    display: none;
  }
}
