@import '../../main/variables.scss';

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
  background-color: $body-color;
  transition: 0.4s;
}
.nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__img {
  width: 32px;
}
.profile{
  display:flex;
}
